.content {
	& .container {
		display: flex;
	}

	&__order {
		flex-grow: 1;
		border-right: 1px solid #cfcfcf;
	}

	&__cart {
		width: 410px;
		transition: .3s;
		height: 100%;

		@media screen and (max-width: 1100px) {
			position: absolute;
			right: 0;
			background-color: #fff;
			transform: translateX(100%);
			z-index: 10;
		}

		&.content__cart--open {
			@media screen and (max-width: 1100px) {
				transform: translateX(0);
			}
		}

		@media screen and (max-width: 769px) {
			width: 100%;
		}
	}
}
