.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content {
	position: relative;
	overflow-x: hidden;
	flex-grow: 1;
}

.container {
	//max-width: 1640px;
	margin: 0 auto;
	box-sizing: content-box;
	height: 100%;
}

.hidden {
	overflow: hidden;
}
